@charset "UTF-8";

/* Estilo para o corpo da página */
body {
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilo para o título */
h1 {
    color: darkblue;
}

#principal {
    color: darkblue;
    text-align: center;
    background-color: lightgray;
}
.basico {
    color: darkblue;
}

.intermediario {
    color: darkorange;
}

.avançado {
    color: darkviolet;
}

/* Estilo para o parágrafo */
p {
    color: darkgreen;
}